*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.navbar{
	font-size: 20px;
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    
    transition: 0.3s ease;

}
.navbar-light .navbar-nav .nav-link:hover{
	color: red;
}